@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

#filter_button{
  display: flex;
  justify-content: center;
  padding: 6px 8px;
  background-color: #F2F2F2;
  border-radius: 15px;
  border: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
#filter_button img{
  width: 23px;
}
#close_button {
  display: flex;
  justify-content: center;
  padding: 6px 8px;
  background:none;
  border: 0;
  cursor: pointer;
}
#close_button img{
  width: 32px;
}
#filter_window{
  border-radius: 15px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  width: 346px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: #E5E7E6;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.filter_header{
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter_title{
  padding: 0;
  font-size: 24px; 
  font-weight: bold;
}

.filter_tag{
  padding: 6px 16px;
  background-color: #D1D1D1;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
}

.filter_tags_group{
  display: flex;
  flex-wrap: wrap;
  gap: 20px 16px;
  margin : 10px 10px;
  max-height: 150px; 
  overflow-y: auto; 
}
