@import url('https://fonts.google.com/noto/specimen/Noto+Sans+Thai');

header {
    background: #a1a5a3;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}

.edit-profile-btn {
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #00ff80; 
    color: black;
    border: none;
    position: absolute; 
    right: 10px; 
    top: 90px; 
    transform: translateY(-50%); 
}

.profile-card {
    padding: 15px;
    margin-top: 100px;
    border-radius: 10px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-profile {
    width: 80%;
    background-color: #C0EFD8; 
    margin: 15px;
    border-radius: 30px;
    text-align: left; 
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-card h2 {
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
}

.profile-card p {
    margin: 5px 0;
    font-size: 16px;
}

.activity-menu li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

    .activity-menu li.active {
        font-weight: bold;
        text-decoration: underline;
    }


.tab-content {
    display: none;
}

    .tab-content.active {
        display: block;
    }

@media (min-width: 800px) {
    .menu-button {
        display: block; /* Show menu button */
        position: fixed;
        width: 70px;
        top: 10px;
        left: 0;
        z-index: 100;
    }

    .tab-bar.hidden {
        transform: translateX(-100%);
    }

    .tab-bar {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0;
        bottom: auto;
        max-width: 70px;
        height: 100%;
        padding: 10px 0;
        box-shadow: 4px 0 40px rgba(0, 0, 0, 0.2);
        transition: transform 0.1s ease;
        padding-top: 70px;
    }
}
