@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", Helvetica;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    scroll-behavior: smooth;
}

.tags-div, .activity-info-div, .activity-announce{
    margin: 1rem 2rem 2rem 2rem;
}

.activity-header{
    font-size: 32px;
    font-weight: bold;
    background-color: #C0EFD8;
    text-align: center;
    padding: 3rem;
}

.tags-div{
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.tag{
    display: inline-block;
    border-radius: 50px;
    border: #000000 solid 1px;
    padding: 5px 15px 5px 15px;
    margin-right: 20px;
    width: fit-content;
    list-style: none;
    font-size: 12px;
    font-weight: 400; 
}

p {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 1rem;
}

p img{
    margin-right: 0.5rem;
    height: 22px;
    vertical-align: middle;
}

#descript {
    margin-left: 2rem;
}

h1 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 1rem;
}

.deadline-datetime {
    color: #53A700;
    font-size: 15px;
    font-weight: 600;
}

.owner-div {
    display: flex;
    align-items: center; 
    margin: 2rem 0 2rem 0;
}

.owner-div img {
    width: 42px;
    margin-right: 10px; 
}

.text-container {
    display: flex;
    flex-direction: column; 
}

.owner-div p {
    margin: 0; 
}

.participants{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: fit-content;
    background-color: #F9F9F9;
    padding: 1rem;
    text-align: center;
}

.participants p{
    font-size: 24px;
    font-weight: bold;
    color: #57C543;
    margin: 1rem 0 1rem, 0;
}

.participants img{
    height: 23px;
    margin: 0;
}

.participants button{
    font-size: 14px;
    font-weight: 400;
    border-radius: 50px;
    border: none;
    background-color: #C0EFD8;
    height: 1.5rem;
    width: 5rem;
    margin: 0;
}

.activity-info-div{
    margin-bottom: 50px;
}

.fyi-text{
    margin-top: 1rem;
    color: #FF0000;
    display: none;
}

.parti-fyi-div{
    float: right;
    text-align: center;
}

.announce-div{
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem 0 1rem 2rem;
}

@media (min-width: 800px) {
    .fyi-text {
        margin-top: 1rem;
        color: #FF0000;
        display: block; 
        text-align: left; 
    }

    .parti-fyi-div {
        display: flex; 
        align-items: center; 
        justify-content: flex-start; 
        flex-direction: row-reverse; 
    }

    .participants {
        margin-left: 1rem; 
    }
    
    .fyi-text {
        margin-left: 1rem; 
    }
}