@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", Helvetica;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    scroll-behavior: smooth;
}

.ReturnButton {
    position: fixed; 
    left: 80px; 
    transform: translateY(-50%); 
    transition: opacity 0.3s ease;
    background: none;
    border: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    color: #333; 
    z-index: 1000; 
}

.ReturnButton:hover {
    opacity: 0.7;
}

.tags-div, .activity-info-div, .activity-announce{
    margin: 1rem 2rem 2rem 2rem;
}

.activity-header{
    position: relative;
    background-color: #C0EFD8;
    padding: 2rem;
}

#edit-act-bt {
    text-decoration: none;
    background: transparent; 
    border: none; 
    float: right;
    cursor: pointer; 
}

#edit-act-bt img{
    height: 48px;
}

.activity-header h1{
    margin: 3rem;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.tags-div{
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.tag{
    display: inline-block;
    border-radius: 50px;
    border: #000000 solid 1px;
    padding: 5px 15px 5px 15px;
    margin-right: 20px;
    width: fit-content;
    list-style: none;
    font-size: 12px;
    font-weight: 400; 
}

p {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 1rem;
}

p img{
    margin-right: 0.5rem;
    height: 22px;
    vertical-align: middle;
}

#descript {
    margin-left: 2rem;
    white-space: pre-line;
}

h2 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 1rem;
}

.deadline-datetime {
    color: #53A700;
    font-size: 15px;
    font-weight: 600;
}

.owner-div {
    width: fit-content;
    display: flex;
    align-items: center; 
    margin: 2rem 0 2rem 0;
    cursor: pointer;
}

.owner-div img {
    width: 42px;       
    height: 42px;       
    border-radius: 50%; 
    object-fit: cover;   
    margin-right: 10px;
}


.text-container {
    display: flex;
    flex-direction: column; 
}

.owner-div p {
    margin: 0; 
}

.owner-name {
    font-size: 18px;
    font-weight: 600;
}

.participants {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 1rem; 
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: fit-content;
    background-color: #F9F9F9;
    padding: 1rem;
    text-align: center;
}

.participants p{
    font-size: 24px;
    font-weight: bold;
    color: #57C543;
}

.participants img{
    height: 30px;
    margin: 0;
}

.participants-bt-1, .participants-bt-2{
    font-size: 14px;
    font-weight: 400;
    border-radius: 50px;
    border: none;
    background-color: #C0EFD8;
    height: 1.5rem;
    width: 5rem;
    margin: 0;
    cursor: pointer;
}

.participants-bt-2{
    cursor: default;
    border: 1px solid #D1D1D1;
    color: #A3A3A3;
    background: none;
}

.activity-info-div{
    margin-bottom: 50px;
}

.fyi-text{
    margin-top: 1rem;
    color: #FF0000;
    display: none;
}

.parti-fyi-div{
    float: right;
    text-align: center;
}

.announce-div, .activity-announce form textarea{
    background-color: #F2F2F2;
    border-radius: 15px;
    border: none;
    padding: 1rem;
    margin: 1rem 0rem 1rem 2rem;
    height: fit-content;
}

.announce-div {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 0; 
}

.announce-div img {
    height: 30px;
    width: 30px;
}

.announce-div p {
    white-space: pre-line;
}

.announce-div #delete-announce-bt {
    position: absolute;
    top: -10px;
    right: -10px;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.activity-announce {
    position: relative;
    z-index: 0;
}

.activity-announce #new-announce-bt{
    border-radius: 10px;
    border: none;
    background-color: #C0EFD8;
    font-size: 30px;
    font-weight: 600;
    width: 35px; 
    text-align: center;
    padding: 0; 
    cursor: pointer;
}

.activity-announce form textarea{
    overflow-y: hidden; 
    resize: none;
    width: calc(100% - 120px);
    font-family: "Noto Sans Thai", serif;
}

.activity-announce form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 2.5rem;
}

.confirm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 999; 
}

.confirm-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.confirm-box img {
    height: 60px;
}

.confirm-box .confirm-title {
    font-size: 25px;
    font-weight: 800;
    margin-top: 1rem;
}

.confirm-box .confirm-context {
    font-size: 15px;
    font-weight: 400;
    margin: 1rem 0 2rem 0;
}

.confirm-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.confirm-buttons button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#confirm-yes {
    background: #F44336;
    color: white;
    font-weight: 600;
}

#confirm-no {
    background: #bfbfbf;
    color: white;
    font-weight: 600;
}

.confirm-overlay.show {
    visibility: visible;
    opacity: 1;
}

.start-end-dt {
    display: none;
}

.start-end-mb {
    display: flex;
    justify-items: center;
    align-items: center; 
    margin-bottom: 1rem;
}

.start-end-mb img {
    margin-right: 1rem; 
    margin-right: 0.5rem;
    height: 22px;
    vertical-align: middle;
}

.start-end-mb div p{
    margin: 0;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
    display: none;
}

#notify-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #F1F1F1;
    color: black;
    padding: 20px;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    z-index: 1000; 
    transition: opacity 1s ease-in-out;
}

#progress-container {
    width: 100%;
    height: 5px;
    background: #ffffff;
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;
}

#progress-bar {
    width: 0%;
    height: 100%;
    background: #C0EFD8;
    transition: width 1.5s linear;
}

#notify-popup.fade-out, #overlay.fade-out {
    opacity: 0;
}

.noti-title {
    font-weight: 600;
    font-size: 20px;
}

.noti-context {
    font-weight: 500;
    font-size: 15px;
}

@media (min-width: 480px) {
    .start-end-mb {
        display: none;
    }
    
    .start-end-dt {
        display: flex;
    }
}

@media (min-width: 880px) {
    .fyi-text {
        margin-top: 1rem;
        color: #FF0000;
        text-align: left; 
    }

    .parti-fyi-div {
        display: flex; 
        align-items: center; 
        justify-content: flex-start; 
        flex-direction: row-reverse; 
    }

    .participants {
        margin-left: 1rem; 
    }
    
    .fyi-text {
        margin-left: 1rem; 
    }
}