@using MUENTIP.ViewModels

@{
    ViewData["Title"] = "My Activity Page";
}

@model MyActivityViewModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my activity page</title>
    <link rel="stylesheet" href="~/css/MyActivity/my_activity_page.css">
    <link rel="stylesheet" href="~/css/MyActivity/filter.css">
    <link rel="stylesheet" href="~/css/MyActivity/activity_card.css">
    <link rel="stylesheet" href="~/css/MyActivity/search_and_filter.css">
</head>

<body>
    <header class="header-muentip">MUENTIP</header>

    <nav class="header-nav">
        <ul class="header-menu">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="">My Activity</a></li>
        </ul>
    </nav>

    <nav class="activity-nav">
        <ul class="activity-menu">
            <li><a id="createButton" href="#">Create</a></li>
            <li><a id="approvedButton" href="#">Approved</a></li>
            <li><a id="non-approvedButton" href="#">Non - Approved</a></li>
        </ul>
        <hr>
    </nav>

    <div class="search-and-filter">
        <div class="search-container">
            <input type="text" placeholder="stand-in" name="search">
            <button type="submit">
                <img src="../img/search.png" alt="Search Icon">
            </button>
        </div>

        <div class="filter-container">
            <button id="filter_button">
                <img src="../img/filter.png" />
            </button>

            <div id="filter_window" style="display: none">
                <div class="filter_header">
                    <p class="filter_title">Apply filter</p>
                    <button id="close_button">
                        <img src="../img/filter.png" />
                    </button>
                </div>
                <div class="filter_tags_group" id="tags_group"></div>
            </div>
        </div>
    </div>

    <div class="create-container">
        <div class="create-inner">
            <button id="create-button">
                <img src="../img/Plus.png">
            </button>
        </div>
    </div>
    
    <div id="container"></div>
    

    <script>
        var activityModel = @Html.Raw(Json.Serialize(Model));
        var ViewActivityURL = "@Url.Action("Index", "ViewActivity")";
    </script>

    <script src="~/js/MyActivity/activity_card.js"></script>
    <script src="~/js/MyActivity/filter.js"></script>
</body>

</html>