@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

*{
    margin: 0;
    font-family: "Inter", Helvetica;
    scroll-padding-top: 70px;
    scroll-behavior: smooth;
}

body {
    background-image: url("/img/muen-tip-bg.png");
    padding-top: 60px;
}

nav {
    background-color: #707070;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 1rem 0;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: center; 
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative; 
    width: 100%;
}

.header-menu li {
    font-size: 20px;
}

.header-menu li:first-child {
    font-size: 30px;
    position: absolute;
    left: 20px; 
    cursor: pointer;
}

.header-menu li:first-child:hover {
    opacity: 0.7;
}

.header-menu li:nth-child(2) {
    flex-grow: 1;
    text-align: center;
}

.filter-div {
    margin: 1.5rem 1rem 1.5rem 2rem;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.not-found {
    font-size: 14px;
    text-align: center;
}

@media (min-width: 800px) {
    .act-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0rem 2rem; 
        max-width: 800px; 
        margin: 0 auto; 
    }

    .header-menu li {
        margin-left: 60px;
    }
}

@media (min-width: 1200px) {
    .act-div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0rem 2rem; 
        max-width: 1200px; 
        margin: 0 auto; 
    }
}