@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.activity_card{
  display: flex;
  flex-direction: row;
  margin: 14px auto;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  width: 356px;
  padding: 0;
}
.left_group_and_tags{
  background-color: #F1F1F1;
  width: 271px;
  border-radius: 20px 0px 0px 20px;
  padding: 6px 0px 6px 20px;
}
.left_group{
  display: flex;
  flex-direction: row;
}

.left_content_text{
  width: 180px;
}

.activity_title{
  padding-bottom: 6px;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.activity_detail{
  padding: 1px 1px 0px 10px;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.icon{
  width: 10px;
  padding-right: 5px;
}

.activity_participant{
  width: 91px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Inter", Helvetica;
  font-weight: bold;
  font-size: 24px;
}
.activity_participant img {
  width: 25px;
}
.tags_group{
  display: flex;
  flex-wrap: wrap;
  gap: 4px 12px;
  margin-top: 3px;
}
.activity_tag{
  padding: 4px 8px;
  background-color: #ffffff;
  border-radius: 50px;
  font-size: 12px;
}
.enter_button{
  width: 100%;
  border: 0;
  border-radius: 0px 20px 20px 0px;;
  background-color: #C0EFD8;
}
.enter_button img{
  padding: 0.2rem;
  width: 30px;
}
.enter_button:hover {
  background-color: #ACACAC; /* A darker shade of  */
}
