@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', helveticaf;
    scroll-behavior: smooth;
}

body {
    background-image: url("/img/muen-tip-bg.png");
}

.Banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #C0EFD8;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

    .Banner span {
        padding-left: 15px;
    }

.ReturnButton {
    background: none;
    border: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    color: #333;
}

    .ReturnButton:hover {
        opacity: 0.7;
    }

#back-to-top {
    display: none;
    position: fixed;
    right: 30px;
    top: 80px;
    cursor: pointer;
    border: none;
    background-color: unset;
}

    #back-to-top img {
        height: 30px;
    }

#search_button {
    display: flex;
    justify-content: center;
    padding: 6px 8px;
    background-color: #F2F2F2;
    border-radius: 15px;
    border: 0;
    cursor: pointer;
    margin-left: -50px;
    margin-right: 25px;
}

#search_bar {
    display: flex;
    padding: 11px;
    margin-left: 50px;
    background-color: #F2F2F2;
    border-radius: 15px;
    border: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 270px;
}

#search_tag {
    display: inline-block;
    justify-content: center;
    padding: 6px 8px;
    background-color: #c2c2c2;
    border-radius: 15px;
    border: 0;
    cursor: pointer;
    position: relative;
}

#tag_button {
    display: inline-block;
    justify-content: center;
    border-radius: 15px;
    border: 0;
    cursor: pointer;
}

.scrollable {
    width: 500px; 
    height: 600px;
    overflow: auto; 
    padding: 10px; 
    padding-top: 700px;
}

    
    .scrollable::-webkit-scrollbar-button {
        display: none;
    }

  
    .scrollable::-webkit-scrollbar {
        width: 8px; 
        height: 8px; 
    }

   
    .scrollable::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 4px;
    }

    
        .scrollable::-webkit-scrollbar-thumb:hover {
            background-color: #555;
        }

#footer_app {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
    background: linear-gradient(to bottom, #dadada,#f0f0f0,#f0f0f0,#f0f0f0, #F9F9F9);
    bottom: 0;
    left: 0;
    z-index: 10; 
}

.footer_icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

@media (min-width: 880px) {

    #back-to-top {
        right: 50px;
        top: 100px;
    }

    #back-to-top img {
        height: 50px;
    }

    #search_bar {
        background-color: #F2F2F2;
        width: 420px;
    }

    #search_button {
        margin-left: -40px;
        margin-right: 50px;
    }

    .ReturnButton {
        margin-left: 60px;
    }
}

