.search-and-filter{
    display: flex;
    margin: 1rem;
    justify-content: center;
    align-items: center;  /* จัดให้อยู่ตรงกลางแนวตั้ง */
    gap: 1rem;  /*เว้นระยะห่างระหว่าง search กับ filter */
}

.search-container {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 6px 5px;
    background-color: #F2F2F2;
}

.search-container input {
    border: none;
    outline: none;
    background-color: #F2F2F2;
    padding: 0.2rem;
    font-size: 16px;
}

.search-container button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.filter-container {
    display: flex;
    align-items: center;
}