@using MUENTIP.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - MUENTIP</title>
    <link rel="stylesheet" href="~/css/NavBar/login_register_style.css">
</head>

<body>
    @RenderBody()
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="spacing"></div>
        <div class="tab-bar">

            <div class="tab" id="homeTab">
                <img src="~/img/home.png" alt="Home tab" class="tab-icon">
            </div>
            <div class="tab" id="searchTab">
                <img src="~/img/search.png" alt="Search tab" class="tab-icon">
            </div>
            <div class="tab" id="creatActivityTab">
                <img src="~/img/edit.png" alt="create activitys tab" class="tab-icon">
            </div>
            <div class="tab" id="profileTab">
                @if (user.ProfileImageLink != null)
                {
                    <img src="@user.ProfileImageLink" alt="Profile tab" class="tab-icon" style="border-radius:50%">
                }
                else
                {
                    <img src="~/img/default-profile.png" alt="Profile tab" class="tab-icon">
                }
            </div>
            <div class="tab" id="logoutTab">
                <img src="~/img/out.png" alt="Logout tab" class="tab-icon">
            </div>
        </div>
        <button id="menuButton" class="menu-button">&#9776;</button>
        <script>
            userId = "@user.Id";
        </script>
        <script src="~/js/Component/SignIn.js"></script>

    }
    else
    {
        <div class="spacing"></div>
        <div class="tab-bar">
            <div class="tab" id="homeTab">
                <img src="~/img/home.png" alt="Home tab" class="tab-icon">
            </div>
            <div class="tab" id="searchTab">
                <img src="~/img/search.png" alt="Search tab" class="tab-icon">
            </div>

            <div class="tab" id="loginTab">
                <img src="~/img/default-profile.png" alt="Login tab" class="tab-icon">
            </div>
        </div>
        <button id="menuButton" class="menu-button">&#9776;</button>



        <div id="loginPopup" class="popup">
            <div class="popup-content">
                <div class="left-container">
                    <p class="welcome-text">Welcome!</p>
                    <div class="pic-logo">
                        <img class="login-image" src="~/img/10000tip2.png" alt="Logo10000tip">
                    </div>
                    <p class="findFrind-text">Find friends to hang out with MUENTIP.</p>
                </div>

                <div class="form-container">
                    <span class="close-btn" id="closePopup">&times;</span>
                    <h2>Login</h2>
                    <form id="loginForm">
                        <label for="loginInput">Username / Email</label>
                        <input type="text" id="loginInput" name="loginInput" placeholder="Username or Email" required>
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="Password" required>
                        <p id="LoginMessage" name="LoginMessage" style="color:red"></p>
                        <button type="submit">Login</button>
                    </form>
                    <div class="register">
                        <p>Not a member yet?</p>
                        <a href="#" id="registerLink">Register</a>
                    </div>
                </div>

            </div>
        </div>


        <div id="registerPopup" class="popup">


            <div class="popup-content">
                <div class="left-container">
                    <p class="welcome-text">Welcome!</p>
                    <div class="pic-logo">
                        <img class="login-image" src="~/img/10000tip2.png" alt="Logo10000tip">
                    </div>
                    <p class="findFrind-text">Find friends to hang out with MUENTIP.</p>
                </div>

                <div class="form-container">
                    <span class="close-btn" id="closeregisterPopup">&times;</span>
                    <h2>Register</h2>
                    <form id="registerForm">
                        <label for="registerEmail">Email</label>
                        <input type="email" id="registerEmail" name="registerEmail" placeholder="Email" required>
                        <label for="registerUsername">Username</label>
                        <input type="text" id="registerUsername" name="registerUsername" placeholder="Username" required>
                        <label for="registerPassword">Password</label>
                        <input type="password" id="registerPassword" name="registerPassword" placeholder="Password"
                            required>
                        <label for="registerConfirmPassword">Confirm Password</label>
                        <input type="password" id="registerConfirmPassword" name="registerConfirmPassword"
                            placeholder="Confirm Password" required>
                        <p id="RegisterMessage" name="RegisterMessage" style="color:red;padding:10px 0;"> </p>
                        <button type="submit">Register</button>
                    </form>
                    <div class="login">
                        <p>Are you a member?</p>
                        <a href="#" id="loginLink">Login</a>
                    </div>
                </div>

            </div>
        </div>
        <script src="~/js/Component/Guest.js"></script>
    }
    <script>
        document.getElementById('menuButton').addEventListener('click', function () {
            const tabBar = document.querySelector('.tab-bar');
            const body = document.body;

            tabBar.classList.toggle('hidden');
            body.classList.toggle('tab-bar-visible');

        });
    </script>
</body>

</html>